.section {
  padding: 1em 0;
}

.header {
  background: #216C2A;
  color: white;
  padding: 1em 0 2em;
  font-family: Tahoma, sans-serif !important;
}

.body {
    font-family: Tahoma, sans-serif !important;
    background-color:#DEEFF5;
    color: #F0F0F0 ;
  }


#chart svg {
  display: block;
  margin: 0 auto;
}

.axis path, .axis line {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}

.axis .minor line {
  stroke: #ccc;
  stroke-dasharray: 2,2;
}

.axis text {
  font-size: 11px;
}

.label {
  font-weight: 700;
  font-family: Tahoma, sans-serif !important;
}

.titles {
  font-weight: 700;
  font-size: 16px;
  fill: #216C2A;
  font-family: Tahoma, sans-serif !important;
}

.titles2 {
  font-weight: 700;
  font-size: 14px;
  fill: #216C2A;
  font-family: Tahoma, sans-serif !important;
}

.legendlabel {
  font-size: 11px;
  font-family: Tahoma, sans-serif !important;
}

.legendtext {
  font-size: 12px;
  font-family: Tahoma, sans-serif !important;
}

.point {
  stroke-width: 1;
  opacity: .9;
}

.cover {
  stroke-width: 1;
  opacity: 1;
}

.point.filtered {
  opacity: .05;
}

.line {
  stroke: rgb(175, 80, 75);
  stroke-width: 2;
}

div.tooltip {
  padding: .5em 1em;
  background: #216C2A;
  opactiy: 0.75;
  color: white;
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}