.section {
  padding: 1em 0;
}

.header {
  background: #216C2A;
  color: white;
  padding: 1em 0 2em;
}

#chart svg {
  display: block;
  margin: 0 auto;
}

.axis path, .axis line {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}

.axis .minor line {
  stroke: #ccc;
  stroke-dasharray: 2,2;
}

.axis text {
  font-size: 11px;
}

.label {
  font-weight: 700;
}

.point {
  stroke-width: 1;
  opacity: .8;
}

.point.filtered {
  opacity: .05;
}

.line {
  stroke: rgb(175, 80, 75);
  stroke-width: 2;
}

div.tooltip {
  padding: .5em 1em;
  background: rgba(0,0,0,.75);
  color: white;
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
}